<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Employee Details</h3>
        </div>
        <div class="card-body">
           <p
          *ngIf="errorMsg"
          class="alert alert-danger alert-dismissible fade show"
        >
          {{ errorMsg }}
        </p>
          <table class="table table-bordered table-sm table-responsive table-responsive-sm">
            <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Department</th>
              <th style="width: 40px">Role</th>
              <th>Company</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees; let i= index;">
              <td>{{i + 1}}</td>
              <td *ngIf="!edit || rowIndex!=i">{{employee.name}}</td>
              <td *ngIf="edit && i == rowIndex">
                <input type="text" [(ngModel)]="employee.name">
              </td>
              <td *ngIf="!edit || rowIndex!=i">{{employee.email}}</td>
              <td *ngIf="edit && i == rowIndex">
                <input type="text" [(ngModel)]="employee.email">
              </td>
              <td *ngIf="!edit || rowIndex!=i">{{employee.dept}}</td>
              <td *ngIf="edit && i == rowIndex">
                <input type="text" [(ngModel)]="employee.dept">
              </td>
              <td *ngIf="!edit || rowIndex!=i">{{employee.role.name}}</td>
              <td *ngIf="edit && i == rowIndex">
                <select class="form-control" [(ngModel)]="employee.role._id">
                  <option *ngFor="let role of roles;" [value]="role._id">{{role.name}}</option>
                </select>
              </td>
              <td *ngIf="!edit || rowIndex!=i">{{employee.company.name}}</td>
              <td *ngIf="edit && i == rowIndex">
                <select class="form-control" [(ngModel)]="employee.company._id">
                  <option *ngFor="let company of companies;"
                          [value]="company._id">{{company.name}}</option>
                </select>
              </td>
              <td>
                <div *ngIf="!edit || rowIndex!=i">
                  <button class="btn btn-warning" (click)="EnableEdit(i)">Edit</button>
                  <button class="btn btn-danger ml-2" (click)="delete(employee)">Delete</button>
                </div>
                <div *ngIf="edit && i == rowIndex">
                  <button class="btn btn-warning" (click)="update(employee)">Update</button>
                  <button class="btn btn-danger ml-2" (click)="stopEditing()">Cancel</button>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Add Employee</h3>
        </div>
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <div class="form-group">
              <label>Name</label>
              <input type="type" class="form-control" placeholder="Enter name" formControlName="name">
              <div
                *ngIf="isSubmitted && formControls.name.errors"
                class="help-block text-danger"
              >
                <div *ngIf="formControls.name.errors.required">
                  Name is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Email address</label>
              <input type="email" class="form-control" formControlName="email"
                     placeholder="Enter email">
              <div
                *ngIf="isSubmitted && formControls.email.errors"
                class="help-block text-danger"
              >
                <div *ngIf="formControls.email.errors.required">
                  email is required
                </div>
                <div *ngIf="formControls.email.errors?.email">
                  Email must be valid.
                </div>
              </div>

            </div>
            <div class="form-group">
              <label>Department</label>
              <input type="text" class="form-control" formControlName="dept"
                     placeholder="Department">

              <div
                *ngIf="isSubmitted && formControls.dept.errors"
                class="help-block text-danger"
              >
                <div *ngIf="formControls.dept.errors.required">
                  Department is required
                </div>
              </div>

            </div>
            <div class="form-group">
              <label>Select Role</label>
              <select formControlName="role" class="form-control">
                <option value="">--select--</option>
                <option *ngFor="let role of roles; let i = index" [value]="role._id">{{role.name}}</option>
              </select>

              <div
                *ngIf="isSubmitted && formControls.role.errors"
                class="help-block text-danger"
              >
                <div *ngIf="formControls.role.errors.required">
                  Role is required
                </div>
              </div>

            </div>
            <div class="form-group">
              <label>Select Company</label>
              <select formControlName="company" class="form-control">
                <option value="">--select--</option>
                <option *ngFor="let company of companies; let i = index" [value]="company._id">{{company.name}}</option>
              </select>

              <div
                *ngIf="isSubmitted && formControls.company.errors"
                class="help-block text-danger"
              >
                <div *ngIf="formControls.company.errors.required">
                  Company is required
                </div>
              </div>

            </div>
          </div>

          <div class="card-footer">
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
